
@{
    ViewBag.Title = "PersonalInfo";
}

<!DOCTYPE html>
<html>
<head>
    <title>Information</title>
</head>
<body>
    <p>Name: Md. Daud Hossain Supto </p>
    <p>ID:20-42806-1</p>
    <p>Email: dhsupto@gmail.com</p>
    <p>Call: 01322636373</p>

</body>
</html>

