
@{
    ViewBag.Title = "Projects";
}

<table style="border: 1px solid black;">
    <thead>
        <tr>
            <th style="border: 1px solid black;">Course</th>
            <th style="border: 1px solid black;">Title</th>
            <th style="border: 1px solid black;">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid black;">Database Systems</td>
            <td style="border: 1px solid black;">Inventory Management System</td>
            <td style="border: 1px solid black;">A system to manage and track inventory levels.</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Software Engineering</td>
            <td style="border: 1px solid black;">E-commerce Platform</td>
            <td style="border: 1px solid black;">Building an online platform for buying and selling goods.</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Mobile App Development</td>
            <td style="border: 1px solid black;">Fitness Tracker App</td>
            <td style="border: 1px solid black;">Developing a mobile app to track and monitor fitness activities.</td>
        </tr>
    </tbody>
</table>


